.form-wrapper {
    padding: 50px 0;
    h1 {
        text-align: center;
    }
    .form-control {
        border: none;
        width: 49%;
        max-width: 100%;
        display: inline-block;
        padding: 0;
        margin: 15px 0;
        @include breakpoint(medium) {
            width: 48%;
        }
         @include breakpoint(extrasmall) {
           width: 100%;
        }
        input,
        textarea {
            border: 1px solid burlywood;
            padding: 10px;
            background: cadetblue;
            color: #fff;
            outline: none;
            border-radius: 4px;
            &::placeholder {
                color: chartreuse;
            }
        }
        input[type="text"],
        [type="tel"],
        [type="email"],
        [type="password"],
        textarea {
            width: 100%;
        }
    }
    .email-form,
    .form-textarea {
        width: 100%;
        display: block;
    }
    .custom-gap {
        margin-left: 1.5%;
        @include breakpoint(medium) {
            margin-left: 3%;
        }
         @include breakpoint(extrasmall) {
            margin-left: 0;
        }
    }
    .form-btn {
        width: 30%;
        max-width: 100%;
        @include breakpoint(extrasmall) {
            width: 100%;
        }
        input {
            width: 100%;
            border-radius: 4px;
            outline: none;
            border: none;
            transition: 0.5s ease-in-out;
            &:hover {
                color: #fff;
                background: chartreuse;
            }
        }
        label {
            margin-bottom: 0;
            width: 100%;
            padding: 10px 0;
            background: cadetblue;
            text-align: center;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            transition: 0.5s ease-in-out;
            &:hover {
                color: #fff;
                background: chartreuse;
            }
        }
        input[type="file"] {
            display: none;
        }
    }
    .form-reset,
    .form-send {
        margin-left: 39.5%;
        @include breakpoint(medium) {
            margin-left: 38.5%;
        }
        @include breakpoint(small) {
            margin: 0 19%;
        }
        @include breakpoint(extrasmall) {
            margin: 0;
        }
    }

    //radio button
    .radio-wrapper {
        margin-bottom: 30px;
        .radio-label {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-weight: bold;
            user-select: none;
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
                border-radius: 50%;
                transition: 0.5s ease-in-out;
                border: 1px solid chartreuse;
                &:after {
                    content: "";
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                }
            }
            input:checked ~ .checkmark {
                background-color: burlywood;
            }
            input:checked ~ .checkmark:after {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    //checbox wrapper
    .checkbox-wrapper {
        width: 100%;
        margin: 15px 0;
    }

    .check-btn {
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;
        margin-right: 30px;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark {
                background-color: chartreuse;
            }
        }
        input:checked ~ .checkmark:after {
            visibility: visible;
            opacity: 1;
        }
        .checkmark {
            position: absolute;
            top: 5px;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: transparent;
            border: 1px solid burlywood;
            transition: 0.5s ease-in-out;
            &:after {
                content: "";
                position: absolute;
                visibility: hidden;
                opacity: 0;
            }
            &:after {
                left: 9px;
                top: 6px;
                width: 7px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
        }
    }
}
